<form [formGroup]="service.form" (submit)="onSubmit()" class="normal-form">
    <span class="example-spacer"></span>
    <div class="controles-container">
        <input type="hidden" formControlName="$key">
        <mat-form-field>
            <input formControlName="customerName" matInput placeholder="Customer Name">
        </mat-form-field>
        <mat-form-field>
            <input formControlName="noOfItem" matInput placeholder="No. of Item">
        </mat-form-field>
        <mat-form-field>
            <input formControlName="amount" matInput placeholder="Amount">
        </mat-form-field>
        <mat-form-field>
            <input formControlName="totalAmount" matInput placeholder="Total Amount">
        </mat-form-field>
        <mat-form-field>
            <input formControlName="Status" matInput placeholder="Status">
        </mat-form-field>
        <mat-form-field>
            <input formControlName="itemName" matInput placeholder="Item Name">
        </mat-form-field>
        <mat-form-field>
            <input formControlName="address" matInput placeholder="Address">
        </mat-form-field>
    </div>
    <span class="example-spacer"></span>
    <div class="button-row">
        <button mat-raised-button color="primary" type="submit">Submit</button>
    </div>
</form>