<div class="container">
    <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Pizza Hut</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>share</mat-icon>
        </button>
    </mat-toolbar>
    <!-- <app-order></app-order> -->
    <div class="content">
        <div class="headerLabel">Order Received</div>
        <mat-grid-list cols="2" rowHeight="2:1">
            <mat-grid-tile>
                <table mat-table [dataSource]="orderList" class="mat-elevation-z8">
                    <!-- Customer Name Column -->
                    <ng-container matColumnDef="CustomerName">
                        <th mat-header-cell *matHeaderCellDef> Customer Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.customerName}} </td>
                    </ng-container>

                    <!-- Qty Column -->
                    <ng-container matColumnDef="noOfItem">
                        <th mat-header-cell *matHeaderCellDef> No. Of Items </th>
                        <td mat-cell *matCellDef="let element"> {{element.noOfItem}} </td>
                    </ng-container>

                    <!-- Total Amount Column -->
                    <ng-container matColumnDef="totalAmt">
                        <th mat-header-cell *matHeaderCellDef> Total Amount </th>
                        <td mat-cell *matCellDef="let element"> {{element.totalAmount}} </td>
                    </ng-container>

                    <!-- Status Column -->
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef> Status </th>
                        <td mat-cell *matCellDef="let element"> {{element.Status}} </td>
                    </ng-container>

                    <!-- Action Column -->
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> Action </th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button color="primary" (click)="updateStatus(element)" matTooltip="Update Status" [matTooltipPosition]="position.value">
                                <mat-icon>update</mat-icon>
                              </button>
                            <button mat-icon-button color="primary" (click)="orderDetail(element)" matTooltip="View Details" [matTooltipPosition]="position.value">
                                <mat-icon>preview</mat-icon>
                              </button>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card *ngIf="Item_Name">
                    <mat-card-subtitle class="headerLabel">{{Item_Name}}</mat-card-subtitle>
                    <hr>
                    <mat-card-content>

                        <div><b>Price : </b> &#8377;{{amt}}</div>
                        <div><b>Amount : </b>&#8377;{{total_amt}}</div>
                    </mat-card-content>
                    <hr>
                    <mat-card-content>
                        <mat-card-subtitle>Delivery Address</mat-card-subtitle>
                        <mat-card-title>{{cust_name}}</mat-card-title>
                        <div>{{cust_address}}</div>
                    </mat-card-content>
                    <mat-card-actions align="end">
                        <button mat-raised-button color="accent" (click)="onClose()">Close</button>
                    </mat-card-actions>
                </mat-card>
            </mat-grid-tile>

        </mat-grid-list>

    </div>



</div>