/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.example-spacer {
    flex: 1 1 auto;
}

form.normal-form {
    margin: 10px;
}

.controles-container {
    width: 500px;
}

.controles-container>* {
    width: 100%;
}


/* Notification */

snack-bar-container.success {
    background-color: darkseagreen;
    color: #fff;
}

snack-bar-container.error {
    background-color: red;
    color: #fff;
}

.headerLabel {
    width: 100%;
    height: 50px;
    margin: 20px 0px 10px;
    padding: 10px 10px;
    font-size: x-large;
    line-height: 2;
    font-weight: 400;
    border-left: 10px solid #1b1bd1;
    border-radius: 5px;
}